exit
	<%= form_with(model: room, local: true, html:{class:"new-mother"}) do |form| %>
	 <div class="new-mother">
	 
	  <% if room.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

		  <ul>
		  <% room.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>
	  
	  <div class="new-session1">
		 <div class="new-title">제목</div>
		 <%= form.text_field :title, class: "new-title-input form-control" %>
	  </div>

	  <div class="new-session2">
		<%= form.select :room_category_id, category_json(@categories), include_blank: false %>
		<div class="new-endtime">
		<div style="margin-right: 1rem;">마감시간</div>  
		<%= form.date_field :expired_at %>
	  </div>
	  </div>

	  

	  <div class="new-session3">
		<div class="new-content">
			<%= form.text_area :content, class: "new-content-child form-control", placeholder: "이곳에 어떤 것을 하고 싶은지, 원하는 사람을 적어주세요." %>
		</div>
	  </div>

	  <div class="new-session4" style="margin-bottom: 3vw;">
	    <div><%= link_to "목록으로", rooms_path %></div>
		<div><%= form.submit%></div>
	  </div>
	  
	  
	 </div>
	<% end %>

